@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import "_variables";
@import "modules/hello.scss";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Roboto;
}

.hydrapp{
  &__main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

  &__title{
    align-self: center;
  }

  &__button--delete{
    align-self: center;
  }
}
